body {
	font-family: "ProximaNova-Regular", serif;
}

.grey {
	color: #332e35;
}

.yellow {
	color: #e1dc1e;
}

.yellow-underline {
	position: relative;
	display: inline-block;
}

.yellow-underline::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -36px;
	border-bottom: 3px solid #e1dc1e;
}

.logo {
	position: absolute;
	top: 40px;
	left: 40px;
	padding: 20px 15px 18px;
	font-size: 40px;
	font-family: "ProximaNova-Bold", serif;
	text-decoration: none;
	color: #fff;
	background: #e1dc1e;
}
