html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	background: url(../images/back.png) 100% 0 repeat;
	font-size: 14px;
    color: #4B575C;
	line-height:18px;
	font-family: 'PT Sans',sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: #006FA2;
	outline: none;
	text-decoration: none;
}
a:hover {
	color:#32AFF0;
}
p {
	margin: 0 0 5px
}
img {
	border: none;
}
input, textarea {
	vertical-align: middle;
    border: 1px solid #5FD0F5;
}
h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
h2 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}
h3 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
}